:root {
    --first-color: rgba(232,244,234,1);
    --second-color: rgba(232,244,234,0.1);
  }

div.miniexercise {
	border-color: var(--first-color);
	background-color: var(--second-color);
}

div.miniexercise p.admonition-title {
	background-color: var(--first-color);
}

div.miniexercise p.admonition-title::before {
    content: "\f303";
}

/* Lösung */
div.minisolution{
    border-color: var(--first-color);
    background-color: none;
  }
  
  div.minisolution p.admonition-title {
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Remove content box */
  div.minisolution p.admonition-title::before {
    content: none;
  }
  


/* Start by hiding the tablet/laptop image */
.image43 {
    display: none;
}

/* For devices with a width of at least 768px, hide the smartphone image and show the tablet/laptop image */
@media (min-width: 768px) {
    .image43 {
        display: none; /* Hide smartphone image */
    }
    .image169 {
        display: block; /* Show tablet/laptop image */
    }
}

/* For devices smaller than 768px (typically smartphones), show the smartphone image */
@media (max-width: 767px) {
    .image43 {
        display: block; /* Show smartphone image */
    }
    .image169 {
        display: none; /* Hide tablet/laptop image */
    }
}
